<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gui_m.prjdatalutaview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cadastra_produto_legume" />
        <activity android:name=".cadastra_produto" />
        <activity android:name=".home" />
        <activity android:name=".cadastra_usuario" />
        <activity android:name=".cadastra_produto_fruta" />
        <activity android:name=".cadastra_produto_folhagem" />
        <activity android:name=".cadastra_produto_ovo" />
        <activity android:name=".cadastra_produto_carne" />
        <activity android:name=".relatorio"></activity>
    </application>

</manifest>